/* css-5.css */

:root{
    --jumpMenuWidth: 150px;
    --headerHeight: 100px;
    --articleWidth: 300px;
    --space: 16px;
}

*{
    box-sizing: border-box;
}

/*body*/
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: whitesmoke;
    color: black;
}

/*jump menu style*/
#jumpMenu {
    position: fixed;
    top: 0;
    left: 0;
    width: var(--jumpMenuWidth);
    height: 100vh;
    overflow-y: auto;
    padding: 16px;
    border-right: 1px solid black;
    background: lightpink;
}

main {
    margin-left: var(--jumpMenuWidth);
    padding-top: var(--headerHeight);
}

main > header {
    position: fixed;
    top: 0;
    left: var(--jumpMenuWidth);
    width: calc(100% - var(--jumpMenuWidth));
    height: var(--headerHeight);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: lightblue;
    border-bottom: 1px solid black;
    padding: 16px;
    z-index: 1000;
}

main > header p{
    margin: 0;
    font-weight: bold;
}

main > header nav {
    display: flex;
    gap: 10px;
}

main > h1 {
    margin: 16px;
}

#container {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space);
    padding: 0 20px 20px 20px;
    align-items: flex-start;
}

#container > article {
    width: var(--articleWidth);
    background: lightcyan;
    border: 1px solid lightgrey;
    padding: 10px;
}   

/*thank you*/
#thanks {
    position: fixed;
    right: 16px;
    bottom: 16px;
    margin: 0;
    padding: 10px;
    border: 1px solid lightgrey;
    background: lightpink;
    z-index: 1001;
}

/*footer*/
footer {
    padding: 20px;
    border-top: 1px solid lightgray;
    background: lightblue;
}